html{
	background-color: rgb(0, 0, 0, 0.05);
	font-family: 'Work Sans', sans-serif;
}

.font-main{
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0,0,0,0.8);
}
.font-sub{
	font-size: 0.7rem;
	color: rgba(0, 0, 0, 0.5);
}
.hide{
	display: none;
}
.heading{
	font-size: 2rem;
}
.container-style{
	border-radius: 0px;
	border: none;
	background-color: #fff;
	box-shadow: 2px 2px 20px 5px rgba(13, 60, 200, 0.05);
}
.img{
	border-radius: 50%;
	width: 50%;
}
.view-more{
	background: none;
	border: none;
	align-self: flex-end;
}

/*header content css*/
.header{
	position: sticky;
	top: 0;
	z-index: 1;
}
.header__logo{
	width: 105px;
}
.align-self-center{
	align-self: center;
}
.header__action-wrapper, .header__action{
	display: flex;
	justify-content: flex-end;
}
/*for sidebar*/
.listWrapper{
	flex-grow: 1;
}
.sideBar{
	background-color: rgba(198, 231, 250, 0.5);
	flex: 0 0 20em;
}
.text-blue{
	color: rgba(18, 155, 250, 1);
}

/*quick actions css*/
.quick-actions__controls{
	justify-content: flex-end;
	align-items: center;
}
.quick-action__button-is-active{
	background-color: rgba(18, 155, 250, .5);
	border-radius: 0rem;
}

/*for cards*/
.card{
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	margin-top: 1rem;
}
.card-items{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-items-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*for medium screen sizes*/
@media (min-width: 481px) and (max-width: 1023px){
	.list-cards{
		flex-direction: row;
		flex-wrap: wrap;
	}
}

/*for larger screen sizes*/
@media (min-width: 1024px){
	.l-m-left-small{
		margin-left: 0.75rem;
	}
	.l-m-horizontal-large{
		margin-left: 1.5rem; margin-right: 1.5rem;
	}
	.view-more-reverse{
		align-self: flex-start;
	}

	/*for page header*/
	.border-right{
		border-right: 1px solid rgba(0,0,0,0.1);
	}

	/*for top quick actions*/
	.quick-actions__controls{
		justify-content: flex-end;
		align-items: center;
	}
	.slds-button_icon{
		flex-shrink: 0;
	}
	.quick-actions__inputs-size{
		width: 7rem;
	}

	/*for table*/
	.list-table{
		border-radius: 0.5rem;
		border: none;
		background-color: #fff;
		box-shadow: 2px 2px 20px 5px rgba(13, 60, 200, 0.05);
	}
	.img-small{
		width: 1.5rem;
	}
	.list-table-container{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: 0rem;
	}
	.list-table-row{
		flex-direction: row;
		margin-bottom: 0rem;
		border: none;
		box-shadow: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0rem;
	}
	.table-row-items{
		flex-direction: row;
		align-items: flex-start;
	}
}